@using RaceClub.Data.Enum
@using RaceClub.ViewModel
@model CreateRaceViewModel
@{
}

<form method="post" action="Create" enctype="multipart/form-data">
    <input type="hidden" asp-for="AppUserId" name="AppUserId" id="AppUserId"/>
    <div class="form-group">
        <label asp-for="Title">Title</label>
        <input asp-for="Title" class="form-control" placeholder="Title">
        <span asp-validation-for="Title"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input asp-for="Description" class="form-control" placeholder="Description">
        <span asp-validation-for="Description"></span>
    </div>
    <div class="form-group">
        <label asp-for="RaceCategory">ClubCategory</label>
        <select asp-for="RaceCategory" asp-items="@Html.GetEnumSelectList<RaceCategory>()" class="form-control" placeholder="ClubCategory">
            <option>---Select---</option>
        </select>
        <span asp-validation-for="RaceCategory"></span>
    </div>

    <div class="form-group">
        <label asp-for="Address.Street">Address.Street</label>
        <input asp-for="Address.Street" class="form-control" placeholder="Street">
        <span asp-validation-for="Address.Street"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address.City">Address.City</label>
        <input asp-for="Address.City" class="form-control" placeholder="City">
        <span asp-validation-for="Address.City"></span>
    </div>

    <div class="form-group">
        <label asp-for="Address.State">Address.State</label>
        <input asp-for="Address.State" class="form-control" placeholder="State">
        <span asp-validation-for="Address.State"></span>
    </div>

    <div class="form-group">
        <label asp-for="Image">Image</label>
        <input asp-for="Image" type="file" class="form-control" placeholder="Image">
        <span asp-validation-for="Image"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>